<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Добредојдовте на Нашиот Универзитет</h1>
    <h2>Факултети</h2>
    <table border="3" width="100%">
      <th colspan="5">ФАКУЛТЕТИ</th>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Area</th>
        <th>University</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
      <% faculties.forEach(faculty => { %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.address %></td>
        <td><%= faculty.university %></td>
        <td><a href="/brishi?index=<%= faculty._id %>">Delete</a></td>
        <td><a href="/update/<%= faculty._id %>">Update</a></td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
